<!-- <ion-view view-title="Porreteo"> -->
<!--   <ion-content class="padding"> -->
<!--     <div class="list card"> -->
<!--       <div class="item item-divider">Recent Updates</div> -->
<!--       <div class="item item-body"> -->
<!--         <div> -->
<!--           There is a fire in <b>sector 3</b> -->
<!--         </div> -->
<!--       </div> -->
<!--     </div> -->
<!--     <div class="list card"> -->
<!--       <div class="item item-divider">Health</div> -->
<!--       <div class="item item-body"> -->
<!--         <div> -->
<!--           You ate an apple today! -->
<!--         </div> -->
<!--       </div> -->
<!--     </div> -->
<!--     <div class="list card"> -->
<!--       <div class="item item-divider">Upcoming</div> -->
<!--       <div class="item item-body"> -->
<!--         <div> -->
<!--           You have <b>29</b> meetings on your calendar tomorrow. -->
<!--         </div> -->
<!--       </div> -->
<!--     </div> -->
<!--   </ion-content> -->
<!-- </ion-view> -->

<ion-view view-title="Login" align-title="left">
    <ion-content style="background: url(img/login.jpg) center; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1>Thronester</h1>
            </div>
        </div>
        <div class="list">
            <ion-md-input placeholder="Username" highlight-color="balanced" type="text"></ion-md-input>
            <ion-md-input placeholder="Password" highlight-color="energized" type="password"></ion-md-input>
        </div>
        <div class="padding">
            <button ui-sref="app.profile" class="button button-full button-assertive ink">Login</button>
        </div>
        <div class="button-bar social-login">
            <button class="button button-small button-border icon-left ion-social-google button-assertive-900">Google+</button>
            <button class="button button-small button-border icon-left ion-social-twitter button-calm-900">Twitter</button>
            <button class="button button-small button-border icon-left ion-social-facebook button-positive-900">Facebook</button>
        </div>
    </ion-content>
</ion-view>

